.book {
  padding: 1rem;
  width: 500px;
  min-height: 175px;
  background-color: #fff;
  color: #151116;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book__button {
  box-shadow: 0px 6px 4px -3px #070201;
  display: block;
  padding: 0.25rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #151116;
  transition: all 0.15s;
  outline: none;
}

.book__button:disabled {
  opacity: 0.6;
}

.book__button:focus {
  color: white;
  background-color: #151116;
}

.book__button:hover {
  color: white;
  background-color: #151116;
}

.book__button:active {
  color: white;
  background-color: #151116;
}

.book__button svg {
  font-size: 2rem;
}

.book > * {
  margin-bottom: 0.7rem;
}

.book__title {
  color: purple;
}

.book__year {
  font-style: bold;
}
